<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MLops Project</title>
</head>

 <head>
    <meta charset="utf-8">
    <title>background-image</title>
     <style>
     body {
      background-image: url(imgs/img2inference.jpg);
      background-size: cover;
     }
    </style>
  </head>


<body>
<form action="/" method="post" enctype="multipart/form-data">
    <input type="file" name="file">
    <input type="submit" value="Predict">
    <br>
    {% if image_loc %}
        <h3> Prediction: {{prediction}}</h3>
        <p> Probability: {{proba}}</p>
     {%endif%}
</form>

</body>
</html>